<div id="navbar">
    <div id="left">
        <a href="/">
            <h1>Smartphone Shop</h1>
        </a>
    </div>
    <div id="right">
        <a href="/">Products</a>
        <a href="/cart">Cart</a>
        <a href="/login">Account</a>
    </div>
</div>