<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <style>
        * {
            margin: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            height: 100vh;
            width: 100vw;
            /* background-color: yellow; */
        }

        #navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-image: url("https://images.squarespace-cdn.com/content/v1/5570a318e4b02d3071ca7d2b/1546899929819-ATM3NQV1WJPGQU61M25V/ke17ZwdGBToddI8pDm48kGit3PbRBnY1AnbAN1sF0EYUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dsprHVr2KnWYWcUVj2DMootvQJt-pLkKaiAPfjOilODMpC969RuPXvt2ZwyzUXQf7Q/contemporary-websites-header-background.jpg?format=1500w");
            height: 80px;
            color: white;
        }

        #navbar>#left {
            margin-left: 40px;
        }

        #navbar>#right {
            margin-right: 40px;
        }

        #navbar>#right>a {
            margin: 0 20px;
        }

        a {
            text-decoration: none;
            color: white;
        }

        a:hover {
            /* background-color: white; */
            color:black;
        }

        main {
            padding: 40px;
            height: 80%;
            display: flex;
            flex-direction: row;
        }

        #login {
            width: 100%;
            height: 100%;
            border: 5px solid teal;
            border-radius: 20px;
            /* background-color: yellow; */
            display: flex;
            flex-direction: column;
            padding: 20px;
        }

        #login>form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #login>form>div {
            margin: 20px 0;
        }

        input {
            width: 200px;
            padding: 10px 20px;
            border-radius: 20px;
            border: 1px orange solid;
        }

        #register {
            color: teal;
        }

        #register:hover{
            color: red;
        }

        #submit {
            background-color: orange;
            color: white;
            width: 300px;
        }

        #submit:hover{
            background-color: orangered;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
        <main>
            <div id="login">
                <form action="/login" method="POST">
                    <h4>LOGIN</h4>
                    <%if(errorMessage) { %>
                        <h4 style="color: red;">
                            <%=errorMessage%>
                        </h4>
                        <%}%>

                            <div>
                                <label>Username : </label>
                                <input type="text" name="username" id="username" value=""
                                    placeholder="username" />
                            </div>

                            <div>
                                <label>Password : </label>
                                <input type="text" name="password" id="password" value="" placeholder="password" />
                            </div>

                            <input type="submit" value="Login" id="submit" />
                            <a href="/register" id="register"> Don't have an account? Register here</a>
                            <a href="/logout" id="logout" style="color: red;"> Logout</a>
                </form>
            </div>
        </main>
</body>

</html>